<!--
<div class='col-6 formZ'>
<form method="POST" action="/api/game/character/c">
  <div class="form-group">
    <label for="exampleInputEmail1" class="labelhead">What Will We Call You?</label>
    <input type="test" name="characterName" class="form-control" id="exampleInputEmail1" placeholder="Enter a Character Name!">
  
  </div>

 
  <button type="submit" class="btn subBut">Create and Start Game</button>
</form>
</div>-->

<body id="selectGame" >
    
    <div class="cardiguess" id = "characterbg" >
        
            
             
        
            
                <div class="navbar-header">
                    <a class="navbar-brand" href="">
                        <img src="/imgf/logo1.png" class="rounded-circle logo2" id="logo" alt="logo">
                    </a>
                </div>
            
            <div class="navigate1">
                <a href='/newgame/'>Start </a>
                <a href='/login/'>| Resume Game </a>
                <a href="" />| Quit</a>
            </div>
        


    
            <br><br> <br> <br>           
        </div>
    </div>
<div class= 'container'>
   <div class='col-6 formZ1'>
<form method="POST" action="/api/game/character/c">
  <div class="form-group">
    <label for="exampleInputEmail1" class="labelhead1">What Will We Call You?</label>
    <input type="test" name="characterName" class="form-control" id="exampleInputEmail1" placeholder="Enter a Character Name!">
    <!--gameid-->
    <input name='gameid' value="{{data.id}}" type="hidden">
  </div>

 
  <button type="submit" class="btn subBut">Create and Start Game</button>
</form>
</div>
   
    </div>

   

    </body>