
<div class='col-6 formZ'>
<form method="POST" action="/api/game/character/c">
  <div class="form-group">
    <label for="exampleInputEmail1" class="labelhead">What Will We Call You?</label>
    <input type="test" name="characterName" class="form-control" id="exampleInputEmail1" placeholder="Enter a Character Name!">
  
  </div>

 
  <button type="submit" class="btn subBut">Create and Start Game</button>
</form>
</div>