<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <title>WizardQuestIV</title>
</head>

<body>

    <nav class="navbar navbar-expand-sm" >
        <div class="container-fluid">
            <div class="navbar-header">
                 <a class="navbar-brand" href="">
                    <img src="/public/imgf/logo1.png" class="rounded-circle" id="logo" alt="logo" style="margin-bottom: 5px">                                     
                </a>
            </div>

            <div class="navbar navbar-expand-sm" id="navbarNav" style="margin-right: 25px">
                <p>The journey is the ......</p>
                
            </div>
    
            <div class="collapse navbar-collapse" id="navbarNav">    
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quit</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

    </body>
    </html>