
    <nav class="navbar navbar-expand-sm" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <img src="imgf/logo1.png" class="rounded-circle" id="logo" alt="logo" >                                                   
                </a>
                <span class="navbar-text">
                    <p>The journey has just began ......</p>   
                </span>            
            </div>      
        </div>
        <div class="collapse navbar-collapse" >    
            <ul class="navbar-nav navbar-center" id="navbarNav">
            <li class="nav-item active">
                <a class="nav-link" href="/test/login/">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Quit</a>
            </ul>
        </div>
    </nav>

