<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card-body">
        <a href="/">← Back To Home</a>
      </div>
      
      <div class="row">
        <p class="display">{{this.id}}. {{this.db_name}}</p>
        <form method="POST" action="/game/update?_method=PUT" class="button-size form-inline">
          <input type="input" name="game_name" type="text" placeholder="game id" value={{this.id}}>
          <button type="submit" class="btn btn-secondary btn-sm float-right login-btn"></button>
          <input type="input" name="password" type="text" placeholder="password" value={{this.id}}>
          <button type="submit" class="btn btn-secondary btn-sm float-right password-btn"></button>
        </form>
      </div>
      
    </div>
  </div>
</div>