
<body id="loginbg" >
    <br><br>
    <div class = "row justify-content-md-center">   
        <div class ="container">
            <div class="row justify-content-md-center"  >
                <span  >
                    <p>Welcome Back!!</p>   
                </span>   
            </div>
        </div>
            
            
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="email" class="form-control" id="playerID" aria-describedby="emailHelp" placeholder="Player ID">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"></label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="row justify-content-md-center"  >
                <button type="submit" class="btn btn-primary">GO!</button>
            </div>
        </form>
    </div>

    <div class= " d-flex align-items-end flex-column" style = "margin-right: 15px">
        <img src="imgf/logo1.png" class="rounded-circle" id="logo" alt="logo" > 
    </div>
</body>
