
<body id="selectGame" >
    <div class="jumbotron jumbotron-fluid" id = "characterbg" >
        <div class="container" >
            <h1>* </h1>
            <br><br> <br> <br>           
        </div>
    </div>

    <div class="row justify-content-md-center"  >
        <span  >
            <p>Choose your Game ......</p>   
        </span>   
    </div>

    <div class = "row justify-content-md-center">
        <form class="form-inline"  >
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputGame" class="sr-only">Character</label>
                <input class="form-control form-control-xlg" type="text" placeholder="Enter your Character">
            </div>
            <button type="submit" class="btn btn-primary mb-2">PLAY!</button>
        </form>
   
    </div>

    <div class= " d-flex align-items-end flex-column" style = "margin-right: 55px">
        <img src="imgf/logo1.png" class="rounded-circle" id="logo" alt="logo" > 
    </div>

    </body>
 