

<body id="storebg">
    <ul class="navbar-nav navbar-center" id="navbarNav">
        <li class="nav-item">
            <a class="nav-link" href="#">Resume</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Quit</a>
    </ul>

    <div class = container>
        <div class="row justify-content-md-center">
            <div class="col-sm-4">
                <div class="card" id="assetsbg">
                    <a href="#"> 
                        <img class="card-img-top" src="imgf/weapons.jpg"  alt="Card image cap">
                    </a> 
                    <div class="card-body">
                        <h5 class="card-title" id="assetsbg">Weapons</h5>
                        <p class="card-text">800</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" id="assetsbg">
                    <a href="#"> 
                        <img class="card-img-top" src="imgf/potion.jpg"  alt="Card image cap">
                    </a>        
                    <div class="card-body">
                        <h5 class="card-title" id="assetsbg">Potion</h5>
                        <p class="card-text">400</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" id="assetsbg" >
                    <a href="#">
                        <img class="card-img-top" src="imgf/food.jpeg" href="#" alt="Card image cap">
                    </a>
                    <div class="card-body" >
                        <h5 class="card-title" >Food</h5>
                        <p class="card-text">250</p>            
                    </div>
                </div>
            </div>

        </div> 
    </div>

        <div class= " d-flex align-items-end flex-column" style = "margin-right: 55px">
                <img src="imgf/logo1.png" class="rounded-circle" id="logo" alt="logo" > 
            </div>

</body>
