<form method='POST' action="/api/game/start/" class="button-size">
<input name='gameName' placeholder="enter a game name">
<input name='password' placeholder="enter a password">
<button type='submit'>Submit</button>
</form>

