.list-group-item {
  line-height: 2.5;
}

body{
  background-image: url("/imgf/wizardbg.jpg");
  background-size:cover;
}

p { 
  font-family:fantasy;
  size: 28px;
  font-size: 45px;
  color: red;
 text-align: left;
}

img {  
  height: 180px;
  width: 180px;
  opacity: 0.3;
  filter: alpha(opacity=50);  
}

#navbarNav {
  font-size: 25px;
  font-family:fantasy;

}
