.list-group-item {
  line-height: 2.5;
}
.begin{
  margin-top: 15%;
  margin-right: 5%;
}
.borders{
  border-image:"/imgf/border.png" 25 25 round

}

.formZ{
  margin-left: 20%;
  margin-top: 5%
  
}

.subBut{
  background-color: purple;
  color:#f3c6ff;
  background-color:#878787
}
.labelhead{
  font-family: 'Times New Roman', Times, serif;
  color:#514d4d;
  font-size: 24px;
  text-shadow: 1px .5px #918e91
}
.hat{
  background-image: url("/imgf/wizardbg.jpg");
  background-size:cover;
  
  border-image: url('/imgf/border.png') 2px
}
.gameCont{
  background-image: url("/imgf/wizardbg.jpg");
  background-size:cover;
  height: 600px;
  width: 960px
}
p { 
  margin-left: 25%;
  margin-top: 2%;
  font-family:fantasy;
  size: 28px;
  font-size: 45px;
  color: red;
 text-align: left;
 text-shadow: 1px .5px black;
 opacity: 0.8;
}
/* scryin message div*/
#next{
  position: absolute;
  top: 80%;
  left: 68%;
  font-family: 'Times New Roman', Times, serif;
  background-color:#fdeaff 
}
/*Button to shop*/
#shop{
  position: absolute;
  top: 70%;
  left: 65%;
  padding-left: 2%;
  padding-right: 2%
}
/* all the buttons that appear once gameplay starts*/
.gamebut{
  font-family: 'Times New Roman', Times, serif;
  background-color:#fdeaff 
}
#msg{
  position:relative;
  top: 80%;
  left: 25%;
  padding:2%;
  opacity: 0.9;
  background-color:#fdeaff;
  border: double #878787 3px;
  font-family: 'Times New Roman', Times, serif;
}
img {  
  height: 180px;
  width: 180px;
  opacity: 0.3;
  filter: alpha(opacity=50);  
}
#logo1{
  margin-left: 10%;
  height: 20%;
  width: 20%
}
a{
  color: #878787;
  text-decoration-color: none;
}
a:hover{
  color:#514d4d;
  text-decoration:none;
  opacity: 100%
}
.navigate{
margin-left:43%;
margin-top: 2.5%;
font-size: 22px;
font-family:fantasy;
height: 6%;
radius: 0.9;
text-align: left;
text-shadow: 1px .5px black;
padding: 1%;
background-color:#f3c6ff;
opacity: .75
}
.navigate2{
  font-size: 18px;
  font-family:fantasy;
  text-shadow: 1px .5px black;
  margin-left: 55%;
  margin-top: 2%;
}
#gamescreen{
  background-color: #a382a3
}
.gametop{
  background-color:   #a382a3;
  padding-bottom: .5%;
  padding-top: .5%;
  
  
}